<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WeakMap demo</title>
  <link href="css/main.css" rel="stylesheet" />
</head>
<body>
  <main class="container">
    <section class="gauntlet">
      <fieldset>
        <button id="fill-heap" type="button" class="button">Fill heap</button>

        <button id="thanosify" type="button">Thanosify</button>
      </fieldset>
      <ul class="results" id="results-container"></div>
    </section>
  </main>
  <script type="module" src="js/main.js"></script>
</body>
</html>